/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .App {
  font-family: sans-serif;
  text-align: center;
} */

body {
    background: #17194b !important;
}

body.index-page {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #171941;
}

.ui.header-menu.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    padding: 0 3rem;
    background: #2a2033;
    border-bottom: solid 2px #c1b3e2;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ui.header-menu.menu::after {
    content: none;
}

a.header-button {
    /*margin: 0 3rem;*/
}

.ui.button.header-button {
    padding: 1.75rem 1rem;
    color: white;
    background: #e158d3;
    font-weight: bold;
    border: solid 1px #080808;
}
